<legend class="text-center mt-3 mb-4 text-secondary" ><h2>{{titulo}}</h2></legend>
<form [formGroup]="form"  class="card mb-1 text-white bg-secondary" style="max-width: 22rem; margin-left:35%; margin-top: 5%;">
    <!--<div class="card-header">
    <legend class="text-center" >{{titulo}}</legend>
    </div>
     -->
    <div class="form-group card-body" style="margin-top:10%;" >
      <input formControlName = "inputCUIL" name= "nCuil"  class="form-control form-control-lg col-md-15" id="idCuil" placeholder="CUIL">
      <small class="form-text  text-white">Solo números</small>
    </div>
    <div class="form-group card-body">
      <input formControlName = "inputPass" name= "nPass" type="password" class="form-control form-control-lg col-md-15" id="pass" placeholder="CLAVE">
    </div>
    <div class="form-row card-body">
    <div class="form-group col-md-12">
    <button type="button" (click)="submit()" class="form-control btn btn-primary">Entrar</button>
    </div>
    <div class="form-group col-md-12">
    <button [routerLink]="['registrar']" type="button"  class="form-control btn btn-primary" >Registrarse</button>
    </div>
    </div> 
  </form>